[Unit]
Description=choicebot for mastodon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/dotnet /home/ch/apps/choicebot/choicebot/serve/choicebot.dll
WorkingDirectory=/home/ch/apps/choicebot/choicebot/serve
User=choicebot
Restart=always

[Install]
WantedBy=multi-user.target
